@charset "utf-8";

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.winner {
  color: green;
}

.loser {
  color: red;
}

$gray: #141616;
$midGray: #323838;
$orange: #FF5500;
$lightGray: #EBEFF3;

$family-sans-serif: "Play", sans-serif;

$primary: $orange;
$widescreen-enabled: true;
$fullhd-enabled: true;

$body-background-color: $gray;

//Form
$control-radius: 0px;
$input-radius: 0px;

//Title
$title-color: $lightGray;
$title-size: 48px;

//Navbar
$navbar-background-color: $gray;
$navbar-dropdown-arrow: $lightGray;
$navbar-item-color: $lightGray;
$navbar-item-hover-color: $lightGray;
$navbar-item-hover-background-color: $midGray;
$navbar-dropdown-background-color: $midGray;
$navbar-dropdown-border-top: 0px;
$navbar-item-img-max-height: 2rem;

//Card
$card-background-color: $midGray;
$card-color: $lightGray;

// Import only what you need from Bulma
@import "node_modules/bulma/sass/utilities/_all.sass";
@import "node_modules/bulma/sass/base/_all.sass";
@import "node_modules/bulma/sass/form/_all.sass";

@import "node_modules/bulma/sass/elements/button.sass";
@import "node_modules/bulma/sass/elements/container.sass";
@import "node_modules/bulma/sass/elements/title.sass";
@import "node_modules/bulma/sass/elements/image.sass";

@import "node_modules/bulma/sass/layout/hero.sass";

@import "node_modules/bulma/sass/grid/columns.sass";

@import "node_modules/bulma/sass/components/navbar.sass";
@import "node_modules/bulma/sass/components/card.sass";
@import "node_modules/bulma/sass/components/modal.sass";
